body {
  font-family: "Inter", sans-serif;
}
section,
.list-section,
.setting-content {
  display: none;
  height: 100%;
  flex-direction: column;
}
section.active,
.list-section.active,
.setting-content.active {
  display: flex;
  animation: fadeIn 0.3s ease-out;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
}

/* Switch Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.dark .slider {
  background-color: #3f3f46;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #8b5cf6;
}
input:checked + .slider:before {
  transform: translateX(20px);
}

body.ghost-mode .online-indicator {
  display: none !important;
}
body.ghost-mode .chat-header p.font-medium {
  display: none !important;
}
